.main { 
	font: {
		family: "open sans";
	}
	background: $green;
	height: 100%;
	width: 100%;
	transition: background .5s;
}

.menu {
	position: absolute;
	right: 20px;
	top: 50px;
	vertical-align: center;

	
	h1 {
		color: #fff;
		display: inline;
		font: {
			family: "Open Sans";
			size: 18px;
			weight: 200;
		}
		letter-spacing: 10px;
		text-transform: uppercase;
	}

	li {
		display: inline-block;
		margin-right: 30px;
		vertical-align: middle;

	}
}

.menu-settings {
	display: block;
	width: 20px;
	height: 20px;
	
	img { 
		width: 20px;
		height:20px;
	}

	&:hover {
		-webkit-transform: scale(1.5,1.5);
		transform: scale(1.5,1.5);
	}
}

.container {
	margin: 0 auto;
	margin-top: 10%;
	width: 90%;	
}

.show {
	display: block;
}

.hide {
	display: none;
}

.settings-module {
	margin: 0 auto;
	width: 80%;
	position: absolute;
	left: 10%;
	
	p {
		margin-top: 20px;
	}
}

.settings-module-app {
	@extend %p-box-shadow;
	border-radius: 2px;
	background-color: #fff;
	margin-top: -3px;
	padding: 5%;
}

.colors {
	margin-top: 30px;
	li {
		border-radius: 2px;
		display: inline-block;
		height: 50px;
		margin: 10px 10px 10px 0px;
		width: 50px;
	}

	.blue {
		background-color: $blue;
	}

	.green {
		background-color: $green;
	}

	.teal {
		background-color: $teal;
	}
	.pink {
		background-color: $pink;
	}
	.orange {
		background-color: $orange;
	}
}

.settings-nav {
	margin: 0 auto;
	a {
		color: $type;
		text-decoration: none;
	}
	li {
		border-radius: 2px;
		display: inline-block;
		padding: 20px;
		background-color: rgba(255,255,255,.8);
		transition: background .5s;
		-webkit-transition: background .5s;
		
		@media(max-width: 500px) {
			display: block;
			text-align: center;
		}
		&:hover {
			background-color: rgba(255,255,255,1);
			transition: background .5s;
			-webkit-transition: background .5s;
		}

	}

	@media(max-width: 750px) {
		margin-top: 100px;
	}

	.active {
		background-color: rgba(255,255,255,1);
	}


}

.settings-title {
	color: $type;
	font-size: 30px;
}

.profile {
	li { 
		display: inline-block;
		padding: 30px 30px 30px 0px;
	}
	img {
		height: 75px;
		margin-bottom: 20px;
		width: 75px;
	}

	a {
		color: $type;
		text-decoration: none;
	}
}

input {
	border: 1px solid rgba(0,0,0,.2);
	display: block;
	font: {
		size: 16px;
	}
	height: 26px;
}

button {
	@extend %p-transition-opacity;
	background-color: $green;
	border-radius: 2px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	font-weight: 200;
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	width: 250px;
	
	&:hover {
		@extend %p-transition-opacity;
		opacity: .8;

	}
}

.widget {
	background-color: #fff;
	display: inline-block;
	height: 150px;
	vertical-align: top;
	li {
		list-style: none;
	}

	&:nth-child(2) {
		width: 50%;
	}
	&:nth-child(3) {
		width: 50%;
	}
	&:nth-child(4) {
		width: 100%;
	}
	&:nth-child(5) {
		width: 30%;
	}
	&:nth-child(6) {
		width: 60%;
	}
}

.widget-header {
	font-size: 30px;
	font-weight: 400;
	font-style: italic;
}