// Colors

$green  : #a5c476;
$type 	: #474747;
$blue	: #5dcfe2;
$teal	: #00a99d;
$pink	: #dd6f7c;
$orange : #f99848;

//

%p-box-shadow {
	box-shadow: 1px 0px 8px rgba(0,0,0,.1);
	-webkit-box-shadow: 1px 0px 8px rgba(0,0,0,.1);
	-moz-box-shadow: 1px 0px 8px rgba(0,0,0,.1);
}

%p-transition-opacity {
	transition: opacity .5s;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
}