// Colors

$green  : #a5c476;
$type 	: #474747;
$blue	: #29abe2;
$teal	: #00a99d;
$pink	: #fc63ac;
$orange : #f7931e;

//

%p-box-shadow {
	box-shadow: 1px 0px 8px rgba(0,0,0,.1);
	-webkit-box-shadow: 1px 0px 8px rgba(0,0,0,.1);

}